@media screen and (min-width: 993px){
  .video {

    .container {

      .how-i-boost {
        @include font-props(54px, 700, #fff);
        padding: 100px 20px 50px 40px;
      }

      .watch-btn {
        margin-left: 40px;
        width: 320px;
        height: 80px;
        @include font-props(24px, 700, #fff);
        line-height: 80px;

        .fa-play {

        }
      }

      #player {
        top: -350px;
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%);
          width: 70%;
          height: 70%;
          border: 0;
        }
      }

      .hide-player {
        display: none;
      }

      .open-player {
        display: block;

      }

      #exit {
        font-family: sans-serif;
        color: #fff;
        font-size: 30px;
        position: absolute;
        top: 0;
        right: 12%;
        cursor: pointer;
      }
    }
  }
}